<header id="nav-header" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold" href="/admin">Rau tươi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <img class="mr-3" src="{{acc.avt}}" height="40px" width="40px" alt="">
                <div class="d-flex align-items-center text-white">{{acc.username}}</div>
            </ul>
    </div>
</header>

<div class="d-flex">
    <div class="slide-bar">
        <div class="navbar navbar-dark bg-dark align-items-start" id="navbar-main">
            <div class="nav flex-column nav-pills" id="v-pills-tab navbar-main" role="tablist" aria-orientation="vertical">
                <a class="btn-hover btn text-white" href="/items/create">Thêm sản phẩm</a>
                <a class="btn-hover btn text-white" href="/items/show">Hiển thị sản phẩm</a>
                <a class="btn-hover btn text-white" href="/items/showFE">Giao diện hiển thị sản phẩm</a>
                <a class="btn-hover btn text-white" href="/admin/show/users">Hiển thị người dùng</a>
                <a class="btn-hover btn text-white" href="/cart/showCart">Danh sách đơn đặt hàng</a>
                <a class="btn-hover btn text-white" href="/cart/transportCart">Xác nhận đơn hàng</a>
                <a class="btn-hover btn text-white" href="/cart/shippingCart">Đơn hàng đang vận chuyển</a>
                <a class="btn-hover btn text-white" href="/cart/takeCart">Nhận đơn hàng</a>
                <a class="btn-hover btn text-white  current" href="/statistical">Thống kê</a>
                <div class="dropdown-divider"></div>
                <a class="btn-hover btn text-white" href="/login/checkInfor">Xem thông tin cá nhân</a>
                <a class="btn-hover btn text-white" href="/login/changePass">Đổi mật khẩu</a>
                <a class="btn-hover btn text-white" href="/login/editInfo">Sửa thông tin</a>
                <a class="btn-hover btn text-white" href="/login/logout">Đăng xuất</a>
            </div>
        </div>
    </div>

    <div class="w-100 m-4">
        <h3>Thống kê</h3>

        <div class="d-flex w-100 flex-wrap justify-content-around">
            <div class="mt-4 card blod-statistical">
                <div class="card-body  bolb-custom ">
                    <div class="tille-statistical">Số đơn hàng đã đặt</div>
                    <hr>
                    <div class="">{{count}}</div>
                </div>
            </div> 

            <div class="mt-4 card blod-statistical">
                <div class="card-body  bolb-custom ">
                    <div class="tille-statistical">Tổng số tiền đã nhận</div>
                    <hr>
                    <div class="">{{total}} VNĐ</div>
                </div>
            </div>

            <div class="mt-4 card blod-statistical">
                <div class="card-body  bolb-custom ">
                    <div class="tille-statistical">Số sản phẩm đã hết</div>
                    <hr>
                    <div class="">{{amount}}</div>
                </div>
            </div>

            <div class="mt-4 card blod-statistical">
                <div class="card-body  bolb-custom ">
                    <div class="tille-statistical">Số sản phẩm đã hết</div>
                    <hr>
                    <div class="">{{amount}}</div>
                </div>
            </div>

            <div class="mt-4 card blod-statistical">
                <div class="card-body  bolb-custom ">
                    <div class="tille-statistical">Số đơn hàng đang vận chuyển</div>
                    <hr>
                    <div class="">{{shipping}}</div>
                </div>
            </div> 

            <div class="mt-4 card blod-statistical">
                <div class="card-body  bolb-custom ">
                    <div class="tille-statistical">Tổng số người dùng</div>
                    <hr>
                    <div class="">{{countRole}}</div>
                </div>
            </div>


        </div>      
    </div>
</div>



