<header id="nav-header" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Rau tươi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <img class="mr-3" src="{{acc.avt}}" height="40px" width="40px" alt="">
                <div class="d-flex align-items-center text-white">{{acc.username}}</div>
            </ul>
    </div>
</header>

<div class="d-flex">

    <div class="slide-bar">
        <div class="navbar navbar-dark bg-dark align-items-start" id="navbar-main">
            <div class="nav flex-column nav-pills" id="v-pills-tab navbar-main" role="tablist" aria-orientation="vertical">
                <a class="btn-hover btn text-white" href="/items/create">Thêm sản phẩm</a>
                <a class="btn-hover btn text-white" href="/items/show">Hiển thị sản phẩm</a>
                <a class="btn-hover btn text-white" href="/items/showFE">Giao diện hiển thị sản phẩm</a>
                <a class="btn-hover btn text-white" href="/admin/show/users">Hiển thị người dùng</a>
                <a class="btn-hover btn text-white" href="/cart/showCart">Danh sách đơn đặt hàng</a>
                <a class="btn-hover btn text-white" href="/cart/transportCart">Xác nhận đơn hàng</a>
                <a class="btn-hover btn text-white" href="/cart/shippingCart">Đơn hàng đang vận chuyển</a>
                <a class="btn-hover btn text-white" href="/cart/takeCart">Nhận đơn hàng</a>
                <a class="btn-hover btn text-white" href="/statistical">Thống kê</a>
                <div class="dropdown-divider"></div>
                <a class="btn-hover btn text-white" href="/login/checkInfor">Xem thông tin cá nhân</a>
                <a class="btn-hover btn text-white" href="/login/changePass">Đổi mật khẩu</a>
                <a class="btn-hover btn text-white" href="/login/editInfo">Sửa thông tin</a>
                <a class="btn-hover btn text-white" href="/login/logout">Đăng xuất</a>
            </div>
        </div>
    </div>

    <div class="w-100 form-item">
        <h3 class="pb-4">Chi tiết đơn hàng</h3>

        <div class="mt-4">
            <h5 style="height: 40px;">Người đặt: {{cart.nameuser}}</h5>
            <h5 style="height: 40px;">Tên sản phẩm: {{cart.nameitem}}</h5>
            <h5 style="height: 40px;">Khối lượng: {{cart.amount}} kg</h5>
            <h5 style="height: 40px;">Tổng giá tiên: {{cart.cost}} VNĐ</h5>
            <h5 style="height: 40px;">Số điện thoại liên lạc: 0{{cart.phoneNumber}}</h5>
            <h5 style="height: 40px;">Địa chỉ: {{cart.address}}</h5>
        </div>
        
    </div>
</div>
