<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Rau tươi</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <a href="/login">Đăng nhập </a>|
                    <a href="/register"> Đăng ký</a>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container mt-8">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item cropped active">
            <img class="d-block w-100 " src="https://imgs.search.brave.com/Rq_DNu6qWCXlF7is81eOtRkGaTjg8d5eqW7vpU7r0rQ/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5U/ajVZNHhxN1lWYkRG/WUVoWFhUOGRnSGFI/YSZwaWQ9QXBp" alt="First slide">
            </div>
            <div class="carousel-item cropped">
            <img class="d-block w-100 " src="https://imgs.search.brave.com/Rq_DNu6qWCXlF7is81eOtRkGaTjg8d5eqW7vpU7r0rQ/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5U/ajVZNHhxN1lWYkRG/WUVoWFhUOGRnSGFI/YSZwaWQ9QXBp" alt="Second slide">
            </div>
            <div class="carousel-item cropped">
            <img class="d-block w-100 " src="https://imgs.search.brave.com/Rq_DNu6qWCXlF7is81eOtRkGaTjg8d5eqW7vpU7r0rQ/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5U/ajVZNHhxN1lWYkRG/WUVoWFhUOGRnSGFI/YSZwaWQ9QXBp" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row">
        {{#each items}}
            <div class="col-sm-6 col-md-4 showFE-card">
                <div class="card d-flex flex-wrap mt-4">
                    <a href="/items/{{this.slug}}">
                        <img class="card-img-top showFE-card-img" src="{{this.image}}" alt="{{this.name}}"/>
                    </a>
                    <div class="card-body">
                        <a href="/items/{{this.slug}}">
                            <h5 class="card-title">{{this.name}}</h5>
                        </a>
                        <p class="card-text showFE-card-description">{{this.description}}</p>
                        <a class="row justify-content-center" href="/items/{{this.slug}}">Xem thêm</a>
                        <div class="row justify-content-center" >
                            <a class="btn btn-primary " href="#">Đặt hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>