<header id="nav-header" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Rau tươi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <img class="mr-3" src="{{acc.avt}}" height="40px" width="40px" alt="">
                <div class="d-flex align-items-center text-white">{{acc.username}}</div>
            </ul>
    </div>
</header>



<div class="d-flex">
    <div class="slide-bar">
        <div class="navbar navbar-dark bg-dark align-items-start" id="navbar-main">
            <div class="nav flex-column nav-pills" id="v-pills-tab navbar-main" role="tablist" aria-orientation="vertical">
                <a class="btn-hover btn text-white" href="/items/showFE">Giao diện hiển thị sản phẩm</a>
                <a class="btn-hover btn text-white" href="/cart/showCart">Danh sách đơn đặt hàng</a>
                <a class="btn-hover btn text-white" href="/cart/shippingCart">Đơn hàng đang vận chuyển</a>
                <a class="btn-hover btn text-white" href="/cart/takeCart">Nhận đơn hàng</a>
                <div class="dropdown-divider"></div>
                <a class="btn-hover btn text-white" href="/login/checkInfor">Xem thông tin cá nhân</a>
                <a class="btn-hover btn text-white" href="/login/changePass">Đổi mật khẩu</a>
                <a class="btn-hover btn text-white current" href="/login/editInfo">Sửa thông tin</a>
                <a class="btn-hover btn text-white" href="/login/logout">Đăng xuất</a>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center w-100">
        <div class="mt-4 card w-50 ">
            <div class="card-body blob">
                <h3 class="card-title d-flex justify-content-center">Sửa thông tin</h3>
                <form method="POST" action="/login/{{acc._id}}/updateInfor?_method=PUT">

                    <div class="form-group">
                        <label for="name">Họ và tên:</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{acc.name}}" oninvalid="this.setCustomValidity('Bạn chưa nhập họ và tên')" oninput="setCustomValidity('')" required/>
                    </div>

                    <div class="form-group">
                        <label for="age">Tuổi:</label>
                        <input type="number" class="form-control" id="age" name="age" value="{{acc.age}}" oninvalid="this.setCustomValidity('Bạn chưa nhập tuổi')" oninput="setCustomValidity('')" required/>
                    </div>

                    <div class="form-group">
                        <label for="avt">Link ảnh đại diện:</label>
                        <input type="text" class="form-control" id="avt" name="avt" value="{{acc.avt}}" oninvalid="this.setCustomValidity('Bạn chưa nhập link ảnh đại diện')" oninput="setCustomValidity('')" required>
                        <hr>
                        <img src="{{acc.avt}}" width="200px" height="200px" alt=""  style="border-radius: 50%;">
                        <hr>

                    </div>

                    <div class="form-group">
                        <label for="address">Địa chỉ:</label>
                        <textarea class="form-control"  name="address" id="address" cols="30" rows="4" oninvalid="this.setCustomValidity('Bạn chưa nhập địa chỉ')" oninput="setCustomValidity('')" required>{{acc.address}}</textarea>

                    </div>

                    <div class="form-group">
                        <label for="phoneNumber">Số điện thoại liên hệ:</label>
                        <input type="number" value="0{{acc.phoneNumber}}" class="form-control" id="phoneNumber" name="phoneNumber" oninvalid="this.setCustomValidity('Bạn chưa nhập đủ 10 số hoăc không hợp lệ')" oninput="setCustomValidity('')" pattern="(\+84|0)\d{9,10}" required />
                    </div>
                    
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Sửa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


