<header id="nav-header" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold" href="/">Rau tươi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <img class="mr-3" src="{{acc.avt}}" height="40px" width="40px" alt="">
                <div class="d-flex align-items-center text-white">{{acc.username}}</div>
            </ul>
    </div>
</header>

<div class="d-flex">
    <div class="slide-bar">
        <div class="navbar navbar-dark bg-dark align-items-start" id="navbar-main">
            <div class="nav flex-column nav-pills" id="v-pills-tab navbar-main" role="tablist" aria-orientation="vertical">
                <a class="btn-hover btn text-white" href="/items/showFE">Giao diện hiển thị sản phẩm</a>
                <a class="btn-hover btn text-white" href="/cart/showCart">Danh sách đơn đặt hàng</a>
                <a class="btn-hover btn text-white current" href="/cart/shippingCart">Đơn hàng đang vận chuyển</a>
                <a class="btn-hover btn text-white" href="/cart/takeCart">Nhận đơn hàng</a>
                <div class="dropdown-divider"></div>
                <a class="btn-hover btn text-white" href="/login/checkInfor">Xem thông tin cá nhân</a>
                <a class="btn-hover btn text-white" href="/login/changePass">Đổi mật khẩu</a>
                <a class="btn-hover btn text-white" href="/login/editInfo">Sửa thông tin</a>
                <a class="btn-hover btn text-white" href="/login/logout">Đăng xuất</a>
            </div>
        </div>
    </div>

    <div class="w-100 form-item">
        <form  class="mt-4" method="POST" name="container-form" action="/items/handle-form-actions">
            <h3>Đơn hàng đang vận chuyển</h3>

            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">
                            Người đặt
                        </th>

                        <th scope="col">
                            Tên sản phẩm
                            {{!-- https://handlebarsjs.com/guide/#html-escaping (raw) --}}
                        </th>

                        <th scope="col">
                            Số lượng
                        </th>

                        <th scope="col">
                            Giá tiền
                        </th>
                        
                        <th scope="col">
                            Số điện thoại
                        </th>

                        <th scope="col">
                            Địa chỉ
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    {{#each carts}}
                        <tr>
                            {{! https://handlebarsjs.com/guide/builtin-helpers.html#each }}
                            <td>{{this.nameuser}}</td>
                            <td>{{this.nameitem}}</td>
                            <td>{{this.amount}} kg</td>
                            <td>{{this.cost}} VNĐ</td>
                            <td>0{{this.phoneNumber}}</td>
                            <td>{{this.address}}</td>

                        </tr>
                    
                    {{else}}
                        <tr>
                            <td colspan="5" class="text-center">
                                Hiện không có đơn hàng nào
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </form>
    </div>
</div>

{{! Confirm delete items }}
<div id="delete-item-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa đơn hàng này?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn hủy đơn hàng này ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-item" type="button" class="btn btn-danger">Hủy đơn hàng</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<div id="accept-item-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chấp nhận đơn hàng này?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn chấp nhận đơn hàng này ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-accept-item" type="button" class="btn btn-success">chấp nhận đơn hàng</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-item-form" method="POST"></form>
<form name="accept-item-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var itemId; 
        var deleteForm = document.forms['delete-item-form']; 
        var showForm = document.forms['btn-show-user']; 
        var acceptForm = document.forms['accept-item-form']; 

        var containerForm = $('form[name="container-form"]');

        var btnDeleteItem = document.getElementById('btn-delete-item');
        var btnShowUser = document.getElementById('btn-show-user');
        var btnAccetItem = document.getElementById('btn-accept-item');

        $('#delete-item-modal').on('show.bs.modal', function (event) { 
            var button = $(event.relatedTarget); itemId = button.data('id');
        }); 
        
        // Whendelete item btn clicked 
        btnDeleteItem.onclick = function () {
            deleteForm.action = '/cart/' + itemId + '/delete?_method=DELETE';
            deleteForm.submit(); 
        } 

        $('#accept-item-modal').on('show.bs.modal', function (event) { 
            var button = $(event.relatedTarget); itemId = button.data('id');
        }); 
        
        btnAccetItem.onclick = function () {
            acceptForm.action = '/cart/' + itemId + '/shippingCart?_method=POST';
            acceptForm.submit(); 
        } 

    });


</script>